$desktop-small: 992px;
$desktop-medium: 1170px;
$desktop-large: 1250px;
$desktop-huge: 1400px;

@mixin respond-to($media) {
  @if $media == desktop-small {
    @media only screen and (min-width: $desktop-small + 1) { @content; }
  }
  @else if $media == desktop-medium {
    @media only screen and (min-width: $desktop-medium + 1) { @content; }
  }
  @else if $media == desktop-large {
    @media only screen and (min-width: $desktop-large + 1) { @content; }
  }
  @else if $media == desktop-huge {
    @media only screen and (min-width: $desktop-huge + 1) { @content; }
  }
}
