//Don't forget to update constants.json in javascript!
$primary-color: #528ab8; // blue
$secondary-color: #599674; // green
$tertiary-color: #83B3D3; // light blue
$background-color: #e8ebf1; // light grey

$logo-color: #2b4f79;

$primary-color-contrast: #fff;
